{% extends 'base.html' %}
{% block pagetitle %}Profile{% endblock %}
{% load static %}
{% block content %}
<h2 class="h2 article-title">Deactivate Profile</h2>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p style="color: red;">Are you sure you want to delete the account?</p>
            <p>Account Username: <b>{{request.user.username}}</b></p>
            <p>Account Full Name: <b>{{request.user.get_full_name}}</b></p>
            <p>Account Email Id: <b>{{request.user.email}}</b></p>
            
            <div class="divider card-divider"></div>
            <div class="d-grid gap-3 d-md-block">
                <button class="btn btn-outline-success" type="submit">Confirm</button>
                <a class="btn btn-outline-danger" href="{% url 'profile' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}