{% extends 'base.html' %}
{% block pagetitle %}Profile{% endblock %}
{% load static %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div class="card mb-3">
  <div class="card-header">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col-auto me-auto text-align-center"><b>My Profile</b></div>
        <div class="col-auto">
          <div class="dropdown">
            <button class="btn btn-{{color}} dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                {% for x in lst %}
                <a class="dropdown-item" href="{% url 'update' %}"><i class="bi bi-pen"></i> Edit Profile</a>
                {% endfor %}
              </li>
              <li>
              </li>
              <li><a class="dropdown-item" onClick="document.location.reload(true)" href="#"><i class="bi bi-arrow-clockwise"></i> Refresh</a></li>
              <li>
                {% for x in lst %}
                <a class="dropdown-item" href="/disable/{{x.encrypt_key}}"><i class="bi bi-trash"></i> Deactivate Profile</a>
                {% endfor %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-md-auto pt-2">
      <img src="{{user.profile.profile_img.url}}" class="img-fluid rounded-start rounded mx-auto d-block" alt="profile picture" style="height: 15rem; width: auto;" data-bs-toggle="popover" data-bs-title="Edit Profile" data-bs-content="And here's some amazing content. It's very engaging. Right?">
    </div>
    <div class="col-md">
      <div class="card-body">
        <h5 class="card-title">{{user.get_full_name}}</h5>
        <p class="card-text">
          {% if user.is_superuser %}
          <i class="bi bi-person-fill-gear"></i> Administrator
          {% elif user.is_staff %}
          <i class="bi bi-person-check"></i> Staff
          {% else %}
          <i class="bi bi-person"></i> User
          {% endif %}
        </p>
        <p class="card-text">
          <b>Username: </b>{{user.username}}<br>
          <b>Email: </b>{{user.email}}
        </p>
        <p class="card-text"><small class="text-muted">{{user.date_joined}}</small></p>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-auto me-auto">
            Groups
            <ol>
              {% for group in user.groups.all %}
              <li>{{ group.name }}</li>
              {% endfor %}
            </ol>
          </div>
          <div class="col-auto">
            Change password: <a href="{% url 'password_change' %}">Click here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}