{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if user.is_authenticated %}
        You have already logged in
        {% else %}
        Company Name
        {% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'login_styling/loginstyle.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="#" type="image/x-icon"> <!--Provide your company logo-->
</head>
<body style="overflow-y: hidden;">
    <main>
        {% if user.is_authenticated %}
        <div class="container">
            <div class="d-flex align-items-center justify-content-center align-self-center">
                <div class="card">
                    <div class="card-header">
                    Featured
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">Already Logged In</h5>
                    <p class="card-text">You have already logged In.</p>
                    <a href="#" class="btn btn-primary">Go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            setTimeout("location.href = '{% url 'home' %}';",0);
        </script>
        {% else %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 login-section-wrapper">
            <div class="brand-wrapper">
              <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/logo.svg" alt="logo" class="logo">
            </div>
            <div class="">
              <h1 class="login-title">Log in</h1>
              {% if form.errors %}
              <div class="alert alert-danger alert-dismissable fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>Invalid Credentials. Retry again.</p>
              </div>
              {% endif %}
              {% if messages %}
                {% for message in messages %}
                <div  class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissable fade show"  role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <p>{{message}}</p>
                </div>
                {% endfor %}
              {% endif %}
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="username" name="username" id="username" class="form-control" placeholder="Enter your Username">
                </div>
                <div class="form-group mb-4">
                  <label for="password">Password:</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Enter your passsword">
                </div>
                <button class="btn btn-outline-primary btn-block btn-lg" type="submit" name="Login" id="Login">Log In</button>
              </form>
              <a href="{% url 'password_reset' %}" class="forgot-password-link">Forgot password?</a>
              <p class="login-wrapper-footer-text">Don't have an account? <a href="{% url 'sign_up' %}" class="text-reset">Register here</a></p>
            </div>
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/login.jpg" alt="login image" class="login-img">
          </div>
        </div>
      </div>
      {% endif %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  
</body>
</html>