{% extends 'registration/registerbase.html' %}

{% load crispy_forms_tags %}
{% block pagetitle %}Password Reset Form{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/logo.svg" alt="logo" class="logo">
      </div>
      <div class="">
        {% if user.is_authenticated %}
        <h2>Your loggedin. </h2>
        <p>You dont have to reset password, you can change your password. Click here: <a href="{% url 'password_change' %}">Password Change</a></p>

        {% else %}
        <h1 class="login-title">Password Reset Form</h1>
        <form method="POST" novalidate>
          {% csrf_token %}
          <label for="text" class="pb-2">Enter your email address and we will send you a link to reset your password.</label>
          {{form|crispy}}
          <button class="btn btn-outline-primary btn-block btn-lg" type="submit" name="Send password" id="send password">Send password reset email</button>
        </form>
        <p class="login-wrapper-footer-text">Go to <a href="{% url 'home' %}" class="text-reset">Login</a> Page.</p>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/login.jpg" alt="login image" class="login-img">
    </div>
  </div>
</div>

{% endblock %}