{% extends 'registration/registerbase.html' %}

{% load crispy_forms_tags %}
{% block pagetitle %}Password Reset Form{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/logo.svg" alt="logo" class="logo">
      </div>
      <div class="">
        <h2 class="card-title">Set new password</h2>
        {% if validlink %}
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary my-3">Reset</button>
        </form>
        {% else %}
        <p class="text-danger">Invalid token.</p>
        <p class="card-text">
          <a href="{% url 'password_reset' %}">Request a new password reset token</a>
        </p>
        {% endif %}
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/login.jpg" alt="login image" class="login-img">
    </div>
  </div>
</div>
{% endblock %}