{% extends 'registration/registerbase.html' %}

{% load crispy_forms_tags %}
{% block title %}Password Reset Form{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header bg-primary text-white fst-italic fw-bold">
    Reset password
  </div>
  <div class="card-body">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-group pb-4">
        <label for="exampleInputEmail1" class="pb-2">Enter your email address and we will send you a link to reset your password.</label>
        {{form|crispy}}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
    </form>
  </div>
</div>
{% endblock %}
