{% extends 'registration/registerbase.html' %}

{% load crispy_forms_tags %}
{% block pagetitle %}Password Reset Form{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/logo.svg" alt="logo" class="logo">
      </div>
      <div class="">
        <h2>Reset your password</h2>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="https://www.bootstrapdash.com/demo/login-template-free-1/assets/images/login.jpg" alt="login image" class="login-img">
    </div>
  </div>
</div>
{% endblock %}