{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block pagetitle %}
    {% endblock %}
  </title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'login_styling/loginstyle.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'login_styling/favicon.svg' %}" type="image/x-icon">
  <!--Provide your company logo-->
</head>

<body style="overflow-y: hidden;">
  <main>
    {% block content %}

    {% endblock %}
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#show_hide_password a").on('click', function(event) {
          event.preventDefault();
          if($('#show_hide_password input').attr("type") == "text"){
              $('#show_hide_password input').attr('type', 'password');
              $('#show_hide_password i').addClass( "fa-eye-slash" );
              $('#show_hide_password i').removeClass( "fa-eye" );
          }else if($('#show_hide_password input').attr("type") == "password"){
              $('#show_hide_password input').attr('type', 'text');
              $('#show_hide_password i').removeClass( "fa-eye-slash" );
              $('#show_hide_password i').addClass( "fa-eye" );
          }
      });
      $("#show_reenter_password a").on('click', function(event) {
          event.preventDefault();
          if($('#show_reenter_password input').attr("type") == "text"){
              $('#show_reenter_password input').attr('type', 'password');
              $('#show_reenter_password i').addClass( "fa-eye-slash" );
              $('#show_reenter_password i').removeClass( "fa-eye" );
          }else if($('#show_reenter_password input').attr("type") == "password"){
              $('#show_reenter_password input').attr('type', 'text');
              $('#show_reenter_password i').removeClass( "fa-eye-slash" );
              $('#show_reenter_password i').addClass( "fa-eye" );
          }
      });
    });
  </script>
</body>

</html>