{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'login_styling/favicon.svg' %}" type="image/svg+xml">
  <link rel="stylesheet" href="{% static 'login_styling/assets/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />

  <title>{% block pagetitle %}{% endblock %}</title>
</head>
<body>
  <nav class="header" data-header>
    <div class="container">
      <h1>
        <a href="{% url 'home' %}" class="logo">Company Name</a>
      </h1>

      <button class="menu-toggle-btn icon-box" data-menu-toggle-btn aria-label="Toggle Menu">
        <span class="material-symbols-rounded  icon">menu</span>
      </button>

      <nav class="navbar">
        <div class="container">

          <ul class="navbar-list">

            <li>{% url 'home' as home %}
              <a href="{% url 'home' %}" class="navbar-link {% if request.path == home %}active{% endif %} icon-box">
                <span class="material-symbols-rounded  icon">grid_view</span>
                <span>Home</span>
              </a>
            </li>

            <li>
              <a href="{% url 'admin:index' %}" target="_blank" class="navbar-link icon-box">
                <span class="material-symbols-rounded  icon">admin_panel_settings</span>
                <span>Administration</span>
              </a>
            </li>

            <li>
              <a href="#" class="navbar-link icon-box">
                <span class="material-symbols-rounded  icon">list</span>
                <span>Tasks</span>
              </a>
            </li>

            <li>
              <a href="#" class="navbar-link icon-box">
                <span class="material-symbols-rounded  icon">bar_chart</span>
                <span>Reports</span>
              </a>
            </li>

            <li>
              <a href="{% url 'logout' %}" class="navbar-link icon-box">
                <span class="material-symbols-rounded  icon">logout</span>

                <span>Logout</span>
              </a>
            </li>
          </ul>

          <ul class="user-action-list">
            <li>
              <a href="#" class="notification icon-box">
                <span class="material-symbols-rounded  icon">notifications</span>
              </a>
            </li>
            <li>
              <a href="{% url 'profile' %}" class="header-profile">

                <figure class="profile-avatar">
                  <img src="{% static 'login_styling/assets/images/avatar-1.jpg' %}" alt="Elizabeth Foster" width="32" height="32">
                </figure>

                <div>
                  <p class="profile-title">{{user.get_full_name}}</p>

                  <p class="profile-subtitle">Admin</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'login_styling/assets/js/script.js' %}"></script>
</body>
</html>