{% extends 'base.html' %}
{% block pagetitle %}Profile{% endblock %}
{% load static %}
{% block content %}
<main class="pt-3">
    <article class="container article">
        <h2 class="h2 article-title">Update Profile</h2>
        <section class="projects">
            <div class="card profile-card">
              <form action="" method="post">
                {% csrf_token %}
                <div class="profile-card-wrapper">
      
                  <figure class="card-avatar">
                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="{{user.get_full_name}}" width="48" height="48">
                  </figure>
      
                  <div>
                    <div class="card-title row">
                      <div class="col">
                        <label for="first_nam e" class="form-label">First Name</label>
                        {{form.first_name}}
                      </div>
                      <div class="col">
                        <label for="last_name" class="form-label">Last Name</label>
                        {{form.last_name}}
                      </div>
                    </div>
                    <p class="card-title"></p>
      
                    <p class="card-subtitle">
                        {% if user.is_superuser %}
                        <div class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">verified_user</span>
                        <p>Administrator</p>
                        </div>
                        
                        {% elif user.is_staff %}
                        <div class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">badge</span>
                        <p>Staff</p>
                        </div>
                        {% else %}
                        <div class="contact-link icon-box">
                            <span class="material-symbols-rounded  icon">badge</span>
                        <p>User</p>
                        </div>
                        {% endif %}
                    </p>
                  </div>
      
                </div>
      
                <ul class="contact-list">
                  <div class="contact-link icon-box row">
                    <div class="col">
                      <label for="username" class="form-label">Username</label>
                      {{form.username}}
                    </div>
                    <div class="col">
                      <label for="last_name" class="form-label">Email</label>
                      {{form.email}}
                    </div>
                  </div>
      
                </ul>
                
                <div class="divider card-divider"></div>
                <div class="d-grid gap-3 d-md-block">
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                    <button class="btn btn-outline-info" type="reset">Reset</button>
                    <button class="btn btn-outline-danger" type="button">Cancel</button>
                </div>
              </form>
            </div>
        </section>
    </article>
</main>
{% endblock %}